div {
  font-family: "Roboto", sans-serif!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ukraine_now {
  text-align: right;
}

.ukraine_now_logo {
  /*height: 20vh;*/
    border-left: #3ac0ff 1px solid;
}

.checkbox {
    margin: 10px;
}

.pointer_on_hover:hover {
    cursor: pointer;
}

.green_color_on_hover:hover {
    color: green;
}

.red_color_on_hover:hover {
    color: red;
}

.viewerLogo {
    max-height: 4rem;
}

#telegram-guest, #messenger-guest {
    display: inline;
    height: 50px;
    margin-right: 50px;
}
#telegram-bottom, #messenger-bottom {
    display: inline;
    height: 25px;
    margin-left: 25px;
}

#ukraine-now-guest {
    height: 200px;
}

.footer-messenger-image {
    height: 100px;
}

.developed-by {
    color: #888;
    display: block;
    font-size: .8rem;
    margin: 40px 0;
}

.guest-photo-image {
    /*border-radius: 8px;*/
    box-shadow: 0 2px .4em #3ac0ff;
    /*height: 25vh;*/
    transition: box-shadow 200ms;
}

.guest-photo-image:hover {
    box-shadow: 0 2px .8em #3ac0ff;
    cursor: pointer;
}

.guest-photos {
    margin: 20vh 0;
}

.bottom-navigation {
    margin: 80px 0 20px 0;
}

.viewer-block-margin {
    margin-top: 8vh;
}

.guest-photos-column {
    margin-top: 4vh;
}

.guest-logo {
    margin: 0 0 10vh 0;
}